In [6]:
!%pip install yfinance

zsh:fg:1: no job control in this shell.

# IMPORT LIBRARIES

In [8]:
import pandas as pd
import yfinance as yf
import numpy as np
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

 Download 5 years historical daily price data for the Johannesburg Stock Exchange index, for four large companies of your choice on the JSE, as well as another financial variable of your choice. From the prices determine the daily returns.
Build a factor model for these returns. Give both the model with the factor loadings and the components (factors) that you include in the model.

In [9]:
stocks_list =['MTN.JO','ABSP.JO','NED.JO','VOD.JO',"ZAR=X"]
#Get Data from Yahoo Finance
data=yf.download(stocks_list,start='2018-2-01', end='2023-01-31')['Adj Close']
data['ZAR=X'] = data['ZAR=X'] *100 #convert exchange rate to cents
print(data.head(10))
data.shape

[*********************100%%**********************]  5 of 5 completed

Ticker           ABSP.JO        MTN.JO        NED.JO        VOD.JO
Date
2018-02-01  38752.707031  10544.688477  18686.710938  11809.777344  \
2018-02-02  38754.441406  10433.271484  18614.085938  11656.468750
2018-02-05  38810.457031   9975.672852  18035.216797  11374.575195
2018-02-06  38752.707031   9812.529297  18026.048828  11250.938477
2018-02-07  38752.707031  10252.619141  18955.347656  11371.042969
2018-02-08  38839.335938  10083.109375  18968.740234  11381.639648
2018-02-09  38781.582031   9927.127930  19389.675781  11202.189453
2018-02-12  38783.312500  10027.401367  19389.675781  11479.136719
2018-02-13  38868.207031  10332.204102  19558.187500  11525.766602
2018-02-14  38752.707031  10226.358398  19460.888672  11684.726562

Ticker            ZAR=X
Date
2018-02-01  1183.839989
2018-02-02  1183.619976
2018-02-05  1206.077003
2018-02-06  1210.490036
2018-02-07  1192.879963
2018-02-08  1206.017971
2018-02-09  1214.496994
2018-02-12  1202.052021
2018-02-13  1189.270020
2018-02-14  1195.919991

(1303, 5)

# ESTIMATE DAILY RETURNS

In [10]:
returns=np.log(data).diff() #daily returns
returns.head()

Ticker       ABSP.JO    MTN.JO    NED.JO    VOD.JO     ZAR=X
Date
2018-02-01       NaN       NaN       NaN       NaN       NaN
2018-02-02  0.000045 -0.010622 -0.003894 -0.013066 -0.000186
2018-02-05  0.001444 -0.044850 -0.031592 -0.024481  0.018795
2018-02-06 -0.001489 -0.016489 -0.000508 -0.010929  0.003652
2018-02-07  0.000000  0.043873  0.050268  0.010618 -0.014655

# DATA CLEANING

In [11]:
#Drop rows with NaN values
returns_cleaned = returns.dropna()
returns_cleaned.shape
returns_cleaned

Ticker       ABSP.JO    MTN.JO    NED.JO    VOD.JO     ZAR=X
Date
2018-02-02  0.000045 -0.010622 -0.003894 -0.013066 -0.000186
2018-02-05  0.001444 -0.044850 -0.031592 -0.024481  0.018795
2018-02-06 -0.001489 -0.016489 -0.000508 -0.010929  0.003652
2018-02-07  0.000000  0.043873  0.050268  0.010618 -0.014655
2018-02-08  0.002233 -0.016672  0.000706  0.000931  0.010953
...              ...       ...       ...       ...       ...
2023-01-24 -0.009180  0.006329  0.000622  0.008964  0.003545
2023-01-25  0.000035  0.006506 -0.006959 -0.005858 -0.008356
2023-01-26  0.040116  0.026240  0.014973 -0.008605  0.006173
2023-01-27 -0.039717  0.007830  0.005453  0.003041  0.002784
2023-01-30  0.005242  0.001392  0.001446  0.006135  0.001811

[1200 rows x 5 columns]

# MEAN RETURNS

In [12]:
#Calculate the mean returns for each stock
# mean_returns = returns_cleaned.mean()
mean_returns=np.mean(returns_cleaned, axis=0)
mean_returns

Ticker
ABSP.JO    0.000714
MTN.JO     0.000199
NED.JO     0.000090
VOD.JO     0.000092
ZAR=X      0.000193
dtype: float64

# CENTER DATA

In [13]:
#Center the data by subtracting the mean returns
centered_data = returns_cleaned - mean_returns
centered_data

Ticker       ABSP.JO    MTN.JO    NED.JO    VOD.JO     ZAR=X
Date
2018-02-02 -0.000670 -0.010822 -0.003984 -0.013158 -0.000379
2018-02-05  0.000730 -0.045050 -0.031682 -0.024572  0.018602
2018-02-06 -0.002204 -0.016689 -0.000599 -0.011021  0.003459
2018-02-07 -0.000714  0.043674  0.050178  0.010527 -0.014848
2018-02-08  0.001519 -0.016871  0.000616  0.000840  0.010760
...              ...       ...       ...       ...       ...
2023-01-24 -0.009894  0.006130  0.000532  0.008872  0.003352
2023-01-25 -0.000679  0.006306 -0.007049 -0.005949 -0.008550
2023-01-26  0.039402  0.026040  0.014883 -0.008696  0.005980
2023-01-27 -0.040431  0.007631  0.005363  0.002949  0.002591
2023-01-30  0.004527  0.001193  0.001356  0.006044  0.001618

[1200 rows x 5 columns]